@import url("./general.css");
footer {
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 1.5rem 6rem;
  line-height: 1.5em;
  background-color: var(--pink);
  color: var(--red);
  border-top: 2px solid var(--white);
}

footer a {
  color: var(--white);
}

@media screen and(max-width:768px) {
  footer {
    padding: 1.5rem 2rem;
  }
}
