* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  /* colors:  */
  --black: #282828;
  --dark-blue: #0a2b5a;
  --blue: #5f6a86;
  --gray: #ececec;
  --white: #ffffff;
  --red: #f0908a;
  --pink: #fee5cb;
  /* grid column width */
  --one-col: calc(100% / 12);
  /* desktop padding */
  --desktop-padding: 60px;
  /* tablet padding */
  --tablet-padding: 30px;
  /* mobile padding */
  --mobile-padding: 20px;
}

.xl {
  font-size: clamp(36px, 3.5vw, 64px);
}
.md,
.md * {
  font-size: clamp(16px, 1.4vw, 32px);
}

.flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.hide {
  display: none;
}

.fade-bottom {
  opacity: 0;
  padding-top: 2em;
}

.fade-top {
  opacity: 0;
  padding-bottom: 2em;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--blue);
}

button,
.btn {
  outline: none;
  background-color: none;
}
