.home {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1px;
}

.home .main {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--desktop-padding);
  z-index: 10;
}

.home .main *,
.home .main * * {
  transition: all 0.25s ease;
}

.home .main .logo {
  width: 55%;
  min-width: 200px;
}

.home .main [class*="half-"] {
  width: 45%;
  height: 90%;
}

.home .main .half-left.logo-pos-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}

.home .main .half-left .content {
  position: relative;
  width: 100%;
  min-height: none;
  margin-top: 1.5em;
}

.home .main .content > * {
  position: absolute;
  width: 100%;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.home .main .half-left .content .intro-1 {
  width: max(280px, 75%);
}

.home-trigger {
  height: 60vh;
  width: 100%;
}

.home-trigger.part-1 {
  position: absolute;
  top: 40vh;
  height: 60vh;
  width: 100%;
  z-index: 0;
}

.home .main .image-container {
  position: relative;
}

.image-container [class*="image-"] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}

.image-1 {
  background-color: var(--gray);
}
.image-2 {
  background-color: var(--blue);
  width: 100%;
  height: 100%;
}

.home .appointment-btn {
  display: inline-block;
  padding: 0.3em;
  margin-top: 1.5em;
  border-radius: 0.5em;
  border: 5px solid var(--blue);
  background-color: var(--white);
}

@media screen and (min-width: 768px) and (orientation: portrait) {
  .home .main [class*="half-"] {
    width: 100%;
    height: min(100%, 140vw);
  }

  .home .main .image-container {
    position: absolute;
    top: 50%;
    right: -100%;
    transform: translate(0%, -50%);
  }
  .home .main .image-container.move-left {
    transform: translate(-100%, -50%);
  }

  .home .main .half-left .content .intro-1 {
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .home .main [class*="half-"] {
    width: 100%;
    height: min(100%, 140vw);
  }

  .home .main .image-container {
    position: absolute;
    top: 50%;
    right: -100%;
    transform: translate(0%, -50%);
  }
  .home .main .image-container.move-left {
    transform: translate(-100%, -50%);
  }
  .home .main .half-left .content .intro-1 {
    margin: auto;
  }
}
